RIID_DOCKERHUB_USER=
RIID_DOCKERHUB_TOKEN=
RIID_REGISTRY_PROVIDER=SELECTEL
RIID_SELECTEL_USER=
RIID_SELECTEL_TOKEN=
REGISTRY_SELECTEL_NAME=riid
REGISTRY_SELECTEL_ID=

## zstd container registry
RIID_SELECTEL_ZSTD_USER=
RIID_SELECTEL_ZSTD_TOKEN=
REGISTRY_SELECTEL_ZSTD_ID=
REGISTRY_SELECTEL_ZSTD_NAME=riid-zstd

# Cloud platform access for providers/cluster/Selectel/terraform
SELECTEL_ACCOUNT_ID=
SELECTEL_IAM_USER=
SELECTEL_IAM_PASSWORD=
SELECTEL_IAM_PROJECT=
SELECTEL_PROJECT_ID=
SELECTEL_API_TOKEN=
