.gradle
.dragonfly/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.jqwik-database
.cifuzz-corpus/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
buildSrc/.kotlin/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
### Mac OS ###
.DS_Store

#TODO at end of dev all make builded files
*.txt

### Local Docker Hub token ###
**/.env

###Internal artifacts###
План*
Презентация.md
Исправления*
external_utils/*
**/*.log
## Selectel artifacts###
deploy/k8s/bootstrap/*
!deploy/k8s/bootstrap/sync-dotenv-from-serverconfig.sh
!deploy/k8s/bootstrap/.env.example
!deploy/k8s/bootstrap/Makefile
!deploy/k8s/riid/.env.example
!deploy/k8s/bootstrap/init-performance-registry-images.sh
!deploy/k8s/bootstrap/logs/
!deploy/k8s/bootstrap/registry/images_list.sizes.tsv
deploy/k8s/bootstrap/serverConfig.yaml

## temp files ###
deploy/k8s/bootstrap/registry/init-performance-registry-images-incremental.sh
**/performance-registry-smoke-map.tsv

deploy/k8s/performance/output/
deploy/k8s/performance/input/dataset_a_test.tsv